main {
    background-color: #ff88ff;
    border: solid;
    border-width: 6px;
    border-color: black;
    color: black;
    font-family: "Times New Roman", sans-serif;
}
h1 {
    text-align: center;
    font-family: "Times New Roman", sans-serif;
    font-weight: bold;
    font-size: 100px;
    color: black;
    background-color: red;
    border: solid;
    border-color: currentcolor;
    border-width: 10px;
}
h2 {
    font-size: 50px;
}
.image {
    width: 750px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: solid;
    border-color: black;
    border-width: 12px;
}

ul {
    color: black;
    background-color: red;
    font-size: 30px;
    text-align: center;
    border-width: 10px;
    border-color: black;
    border: solid;
}
